<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://fwallet.tk:3306/fwallet?zeroDateTimeBehavior=convertToNull&amp;characterEncoding=utf8&amp;autoReconnect=true</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">vds11235813</property>
    <property name="hibernate.connection.CharSet">utf8</property>
    <property name="hibernate.connection.characterEncoding">utf8</property>
    <property name="hibernate.connection.useUnicode">true</property>
    <mapping class="server.entity.User"/>
    <mapping class="server.entity.AuthSession"/>
    <mapping class="server.entity.Group"/>
    <mapping class="server.entity.Invitation"/>
    <mapping class="server.entity.Participant"/>
  </session-factory>
</hibernate-configuration>
