@charset "utf-8";
/* CSS Document */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
    background-color: #ffeefb;
    color: #2c3338;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

p {
    line-height: 1.5em;
}

h2{   font-size: 40px;   margin-bottom: 0.5em; }

h3{   font-size: 30px;   margin-bottom: 0.5em; }

h4{   font-size: 20px;   margin-bottom: 0.5em; }

button{
    border: none;
    margin-bottom: 0px;
}

form input, button {
    height: 50px;
    outline:none;
}

form input{
    background-color: #ffd4b3;
    border-radius:          3px;
    /*color: #eee;*/
    margin-bottom: 1em;
    padding: 0 16px;
    width: 200px;
}

form input:focus {
    /*color:#fff;*/
}

form input[type=submit],button {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #21b0d0;
    /*color: #2c3338;*/
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    cursor:pointer;
    width: 232px;
}

form input[type=submit]:hover, button:hover {
    background-color: #008aae;
}


/*Login form*/
#login {
    margin: 150px auto 0px;
    width: 282px;
}

#login form input[type=password], #login form input[type=text]{
    border-radius: 0px 3px 3px 0px;
    /*color: #2c3338;*/
}

#login form span {
    background-color: #FFAF76;
    border-radius: 3px 0px 0px 3px;
    /*-moz-border-radius: 3px 0px 0px 3px;*/
    /*-webkit-border-radius: 3px 0px 0px 3px;*/
    /*color: #F9F9F9;*/
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

#login input[type=submit] {
    width: 282px;
}

#login p {
    text-align: center;
}

/*#login p span {*/
    /*padding-left: 5px;*/
/*}*/

#login img {
    margin: 0px 5px;
    height: 32px;
    width: 32px;
}

#about {
    text-align: center;
    margin: 150px auto 0px;
    width: 500px;
}


#register {
    text-align: center;
    margin: 150px auto 0px;
    width: 200px;
}


#left-column{

}


#left-column span{
    /*background-color: #000000;*/
    border-radius: 3px 0px 0px 3px;
    color: #ffffff;
    display: block;
    float: left;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;

}


.hide-title{
    width: 232px;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    background-color: #FFAF76;
    /*color: #eee;*/
    font-weight: bold;
    text-transform: uppercase;
    cursor:pointer;
}

.hiden-info{
    width: 232px;
    height: auto;
    /*background-color: #3a4146;*/
}
