@charset "utf-8";
@import "font-awesome.css";
@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");
/* CSS Document */
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* ---------- COLORS ----------- */
/* ---------- GENERAL ---------- */
body {
  background-color: #000;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
}
a {
  color: #004a98;
  text-decoration: underline;
}
a :hover {
  text-decoration: none;
}
.basicHeader,
h4,
h3,
h2 {
  margin: 5px;
}
h4 {
  font-size: 20px;
}
h3 {
  font-size: 30px;
}
h2 {
  font-size: 40px;
}
p {
  line-height: 1.5em;
}
.container {
  margin: 0px auto;
  padding: 0px;
  width: 800px;
  min-height: 100%;
  background-color: #888888;
}
.button,
.form input[type="submit"] {
  background-color: #3474b5;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.button :hover {
  background-color: #3d9cff;
}
.input,
.form input {
  border: none;
  border-radius: 3px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
}
.input [type="text"],
.input [type="password"] {
  background-color: #ffffff;
  color: #606468;
  padding: 0 16px;
}
.form input {
  width: 232px;
  margin-bottom: 1em;
}
.form input [type="text"],
.form input [type="password"] {
  border-radius: 0px 3px 3px 0px;
}
.form input[type="submit"] {
  width: 100%;
}
.classicForm2 {
  border-radius: 3px;
  margin-bottom: 1em;
  padding: 0px 16px;
}
