@charset "utf-8";
@import "auxiliary/font-awesome.css";
@import "auxiliary/reset.css";
/* CSS Document */
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* ---------- GENERAL ---------- */
a {
  color: #004a98;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.basicHeader,
h4,
h3,
h2 {
  margin: 5px;
}
h4 {
  font-size: 20px;
}
h3 {
  font-size: 30px;
}
h2 {
  font-size: 40px;
}
p {
  line-height: 1.5em;
}
.container,
.page-container {
  padding: 0px;
  min-height: 100%;
}
.page-container {
  width: 900px;
  height: auto;
  min-height: 500px;
  margin: 10px auto;
  padding: 10px;
  background: radial-gradient(#4d4d4d, #161616);
  background-size: 100% 100%;
}
.input {
  border: none;
  border-radius: 3px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
}
.input[type="text"],
.input[type="password"] {
  background-color: #ffffff;
  color: #2c3034;
}
.button {
  background-color: #3474b5;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background-color: #3d9cff;
}
