@charset "utf-8"; 

@import "auxiliary/font-awesome.css";

@import "auxiliary/reset.css";



[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}


.body_part{
	margin: 10px 40px;
	float:left;
}

.edit_prof{
width: 500px;
height: 200px;
padding: 10px;
margin: 10px ;
}

.head_part{
	font-size: 18pt; /* Размер шрифта в пунктах */
	font-family: Georgia, Times, serif; /* Семейство шрифтов */
	font-weight: bold; /* Нормальное начертание текста  */
	text-align: justify; /* Выравнивание по ширине */
	border-bottom: 1px solid #000000; /* Параметры линии снизу */
	padding-bottom: 10px; /* Отступ от линии снизу до текста  */
}

.form input[type="text"], input[type="password"] {
    background-color: #fff;
    color: #606468;
    padding: 0 16px;
    width: 150px;
	height:20px;
	margin: 10px;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	float:right;
}

.page-container {
  width: 900px;
  height: auto;
  min-height: 900px;
  margin: 10px auto;
  padding: 10px;
  background: radial-gradient(#4d4d4d, #161616);
  background-size: 100% 100%;
}

#button_change{
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    background-color: #3d9cff;
    font-weight: bold;
    margin-bottom: 1em;
    cursor:pointer;
    width: 130px;
	height:30px;
	margin: 15px 150px;
	float: right
}

.part {
	float:left;
}

#middle-column {
  margin-top: 50px;
  display: inline-block;
  width: auto;
}
#middle-column .container {
  background-color: #f5f5f5;
  height: 850px;
  min-height: 200px;
  width: 500px;
  margin: 0px 10px 5px 350px;
  float: left;
  display: inline-block;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
}

h4{
  font-size: 20px;
}
.data_text{
	text-align: justify; /* Выравнивание по ширине */
	font-size: 18px;
	margin: 15px;
}

.bold_text {
	font-weight: bold;
}

.form {
  width: 390px;
  margin: 10px auto;
  padding: 15px 15px 30px;
  background-color: rgba(111, 181, 255, 0.4);
  border-width: 1px;
  border-color: #6fb5ff;
  border-style: solid;
  border-radius: 8px;
}


