@charset "utf-8";
@import "auxiliary/font-awesome.css";
@import "auxiliary/reset.css";
/* CSS Document */
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* ---------- GENERAL ---------- */
a {
  color: #004a98;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.basicHeader,
h4,
h3,
h2 {
  margin: 5px;
}
h4 {
  font-size: 20px;
}
h3 {
  font-size: 30px;
}
h2 {
  font-size: 40px;
}
p {
  line-height: 1.5em;
}
.container,
.page-container,
#left-column .left-column-container,
#left-column .left-column-container:hover,
#middle-column .middle-column-container,
#middle-column #profile #photo,
#middle-column #groups-feed .record,
#left-column #notifications,
#left-column .group,
#left-column .group:hover,
#left-column .group-hidden-info {
  padding: 0px;
  min-height: 100%;
}
.page-container {
  width: 900px;
  height: auto;
  min-height: 500px;
  margin: 10px auto;
  padding: 10px;
  background: radial-gradient(#4d4d4d, #161616);
  background-size: 100% 100%;
}
.input {
  border: none;
  border-radius: 3px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
}
.input[type="text"],
.input[type="password"] {
  background-color: #ffffff;
  color: #2c3034;
}
.button {
  background-color: #3474b5;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background-color: #3d9cff;
}
body {
  background-color: #eeeeee;
}
.container,
.page-container,
#left-column .left-column-container,
#left-column .left-column-container:hover,
#middle-column .middle-column-container,
#middle-column #profile #photo,
#middle-column #groups-feed .record,
#left-column #notifications,
#left-column .group,
#left-column .group:hover,
#left-column .group-hidden-info {
  height: auto;
  border: none;
  border-radius: 3px;
  outline: none;
}
#left-column {
  float: left;
  height: auto;
  width: 300px;
  display: inline-block;
}
#left-column .left-column-container,
#left-column #notifications,
#left-column .group,
#left-column .group:hover,
#left-column .group-hidden-info {
  height: 35px;
  line-height: 25px;
  text-align: center;
  background-color: #6fb5ff;
  cursor: pointer;
  border: solid;
  border-width: 1px;
}
#left-column .left-column-container:hover {
  background-color: #f99ca4;
}
#left-column span {
  display: block;
  float: left;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 17.5px;
}
#left-column #notifications {
  background-color: #f95252;
}
#left-column .group:hover {
  background-color: #f9bbb0;
}
#left-column .group-hidden-info {
  height: auto;
  padding-left: 2px;
  background-color: #eeeeee;
  text-align: left;
}
#middle-column {
  display: inline-block;
  width: 600px;
}
#middle-column .middle-column-container {
  background-color: #eeeeee;
  border: solid;
  border-width: 1px;
  max-width: 573px;
  width: 573px;
  float: right;
  display: inline-block;
}
#middle-column #profile {
  height: auto;
  min-height: 130px;
  padding: 5px;
}
#middle-column #profile #photo {
  border: solid;
  border-width: 1px;
  display: block;
  float: left;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  text-align: center;
}
#middle-column #profile a {
  margin: 0px 5px 5px;
  float: right;
}
#middle-column #groups-feed {
  margin-top: 5px;
  height: auto;
  padding: 5px;
}
#middle-column #groups-feed .record {
  border: solid;
  border-width: 1px;
  padding: 2px;
}
#middle-column #groups-feed .fontawesome-arrow-down {
  float: none;
}
