@charset "utf-8";
@import "auxiliary/font-awesome.css";
@import "auxiliary/reset.css";
/* CSS Document */
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* ---------- GENERAL ---------- */
a {
  color: #004a98;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.basicHeader,
h4,
h3,
h2 {
  margin: 5px;
}
h4 {
  font-size: 20px;
}
h3 {
  font-size: 30px;
}
h2 {
  font-size: 40px;
}
p {
  line-height: 1.5em;
}

.page-container,
span,
.input,
.button,
.middle-column .middle-column-container,
.middle-column .feeds-record,
.photo,
.left-column .block,
.left-column .block:hover,
.photo10px,
  min-height: 100%;
  height: auto;
  border: none;
  border-radius: 3px;
  outline: none;
}
.middle-column .middle-column-container,
.middle-column .feeds-record,
.photo,
.left-column .block,
.left-column .block:hover,
.photo10px{
  border: solid;
  border-width: 1px;
}
.page-container {
  width: 900px;
  height: auto;
  margin: 10px auto;
  padding: 10px;
  background: radial-gradient(#4d4d4d, #161616);
  background-size: 100% 100%;
}
.left-column {
  float: left;
  height: auto;
  width: 300px;
  display: inline-block;
}

.left-column .block,
.left-column .block:hover{
  text-align: center;
  height: 35px;
  background-color: #3d9cff;
  cursor: pointer;
  line-height: 25px;
}
.left-column .block {
  transition: background 0.6s ease;
}

.left-column .block:hover {
  background-color: #b8e7ff;
}

.middle-column {
  float: right;
  width: 600px;
}
.middle-column .middle-column-container {
  padding: 5px;
  background-color: #f5f5f5;
  max-width: 573px;
  width: 573px;
  float: right;
  display: inline-block;
}
.middle-column .feeds-record {
  padding: 2px;
}
.photo,
.photo10px {
  display: block;
  margin: 5px;
  background-color: #ffffff;
}
.photo10px {
  height: 30px;
  width: 30px;
}


.button {
  background-color: #3474b5;
  color: #eee;
  cursor: pointer;
  transition: background 0.6s ease;
}
.button:hover {
  background-color: #3d9cff;
}

body {
  background-color: #f5f5f5;
}
.page-container {
  min-height: 600px;
}

.minus {
	color: red;
}
.plus {
	color: green;
}

.minus, .plus, .button , .name_person{
	text-transform: uppercase;
	font-weight: bold;
}

.button_member{
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    background-color: #3d9cff;
    font-weight: bold;
    margin-bottom: 1em;
    cursor:pointer;
    width: 130px;
	height:30px;
	margin: 5px;
	float: right
}
