@charset "utf-8";
@import "auxiliary/font-awesome.css";
@import "auxiliary/reset.css";
/* CSS Document */
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* ---------- GENERAL ---------- */
a {
  color: #004a98;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
h4 {
  font-size: 20px;
}
h3 {
  font-size: 30px;
}
h2 {
  font-size: 40px;
}
.container,
.bordered-container,
.page-container,
span,
.input,
.button,
.left-column .left-column-container,
.middle-column .middle-column-container,
.middle-column .feeds-record,
.photo,
.popup .popup-content,
.left-column .block,
.left-column .block:hover,
.left-column .block-hidden,
.left-column .notifications-container,
.left-column .notifications-container .notification,
.photo80px,
.photo40px,
#profile,
.left-column .notifications,
.left-column .notifications:hover {
  min-height: 100%;
  height: auto;
  border: none;
  border-radius: 3px;
  outline: none;
}
.bordered-container,
.left-column .left-column-container,
.middle-column .middle-column-container,
.middle-column .feeds-record,
.photo,
.popup .popup-content,
.left-column .block,
.left-column .block:hover,
.left-column .block-hidden,
.left-column .notifications-container,
.left-column .notifications-container .notification,
.photo80px,
.photo40px,
#profile,
.left-column .notifications,
.left-column .notifications:hover {
  border: solid;
  border-width: 1px;
}
.page-container {
  width: 900px;
  height: auto;
  min-height: 500px;
  margin: 10px auto;
  padding: 10px;
  background: radial-gradient(#4d4d4d, #161616);
  background-size: 100% 100%;
}
.left-column {
  float: left;
  height: auto;
  width: 300px;
  display: inline-block;
}
.left-column .left-column-container,
.left-column .block,
.left-column .block:hover,
.left-column .block-hidden,
.left-column .notifications-container,
.left-column .notifications-container .notification,
.left-column .notifications,
.left-column .notifications:hover {
  text-align: center;
  height: 35px;
  background-color: #3d9cff;
  line-height: 30px;
}
.left-column .block,
.left-column .notifications {
  transition: background 0.6s ease;
  line-height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.left-column .block:hover,
.left-column .notifications:hover {
  background-color: #b8e7ff;
}
.left-column .block-hidden {
  height: auto;
  background-color: #f5f5f5;
  text-align: left;
}
.left-column .notifications {
  background-color: #f95252;
}
.left-column .notifications-container {
  border: none;
  height: auto;
  max-height: 150px;
  overflow: auto;
  text-align: left;
}
.left-column .notifications-container .notification {
  height: auto;
  background-color: #f5f5f5;
  text-align: left;
  padding: 5px 12px;
}
.left-column .notifications-container .notification p {
  line-height: 20px;
}
.middle-column {
  float: right;
  width: 600px;
}
.middle-column .middle-column-container,
#profile {
  padding: 5px;
  background-color: #f5f5f5;
  max-width: 573px;
  width: 573px;
  float: right;
  display: inline-block;
}
.middle-column .feeds-record {
  padding: 4px;
}
.photo,
.photo80px,
.photo40px {
  display: block;
  margin: 5px;
  background-color: #ffffff;
}
.photo80px {
  height: 80px;
  width: 80px;
}
.photo40px {
  height: 40px;
  width: 40px;
}
span {
  display: block;
  float: left;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 17.5px;
}
.input {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
}
.input[type="text"],
.input[type="password"] {
  background-color: #ffffff;
  color: #2c3034;
}
.button {
  background-color: #3474b5;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.6s ease;
}
.button:hover {
  background-color: #3d9cff;
}
.popup {
  width: 100%;
  min-height: 100%;
  background-color: rgba(245, 245, 245, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
}
.popup .popup-content {
  margin: 40px auto 0px auto;
  width: 300px;
  height: 200px;
  padding: 5px;
  background: #f5f5f5;
  overflow: auto;
}
#error-message {
  color: red;
}
body {
  background-color: #f5f5f5;
}
#profile {
  height: auto;
  min-height: 130px;
}
.page-container .left-column .left-column-container,
.page-container .left-column .block,
.page-container .left-column .block:hover,
.page-container .left-column .notifications,
.page-container .left-column .notifications:hover {
  cursor: pointer;
  transition: background 0.6s ease;
}
.page-container .left-column .left-column-container:hover,
.page-container .left-column .block:hover,
.page-container .left-column .block:hover:hover,
.page-container .left-column .notifications:hover,
.page-container .left-column .notifications:hover:hover {
  background-color: #b8e7ff;
}
.page-container .left-column .button {
  height: 25px;
}
.page-container .left-column .block-hidden {
  height: 96px;
  padding: 5px 12px;
}
.page-container .left-column .block-hidden .button {
  height: 25px;
  width: 100%;
}
.page-container .left-column .block-hidden .left {
  float: left;
  width: 55%;
  overflow: hidden;
  height: 100%;
  line-height: 19px;
}
.page-container .left-column .block-hidden .right {
  float: right;
  width: 40%;
  text-align: center;
}
.page-container .left-column .block-hidden .right h4 {
  font-weight: bold;
}
