@import "common";

.page-container .middle-column
{
  .purchase:extend(.middle-column .middle-column-container)
  {
    width: 300px;
    float: left;
    padding: 10px 15px ;
    input{
      float: right;
    }
    button:extend(.button)
    {
      float: left;
      height: 30px;
    }
    p
    {
      margin-bottom: 3px;
    }
  }
}


