#signup {
  width: 330px;
  margin: 100px auto;
  background-color: #fff;
  padding: 25px;
  background-color: rgba(111, 181, 255, 0.40);
  border-width: 1px;
  border-color: @baseColor4;
  border-style: solid;
  border-radius: 8px;
}

#signup form {
  width: 232px;
  margin: 10px auto;
}

#signup hr {
  background-color: @baseColor2;
  border: 0;
  height: 1px;
}