@import "common";

@width: 350px;

body {
  background-color: @background;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  padding: 0px;
}

.page-container
{
  background: none;
  @height: 50px;
  text-align: center;
  height: @height;
  width: @width;

  position: absolute;
  top: 30%;
  left: 50%;
  //  margin-top: ;
  margin-top: -@height / 2;
  margin-left: -@width / 2;
  background: none;
}

.form {
  @margin: 25px;

  width: @width;
  margin: auto;
  padding: 15px 15px 10px;
  background-color: rgba(111, 181, 255, 0.40);
  border-width: 1px;
  border-color: @baseColor4;
  border-style: solid;
  border-radius: 8px;

  hr {
    background-color: @baseColor2;
    border: 0;
    height: 1px;
    margin: 15px 5px 10px;
  }

  input:extend(.input all){
    width: 170px;
    padding: 2px 5px;
    float: right;
    margin-right: @margin;
    &[type="submit"]:extend(.button all) {
      width: @width - @margin*2;
      margin-left: 15px;
      height: 35px;
    }
    &[type="text"], &[type="password"]{
      height: 30px;
      margin-left: 15px;
    }
  }

  p {
    display: inline-block;
    margin: 7px 0px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    text-align: right;
    width: 100%;
  }

}




