@charset "utf-8";
@import "auxiliary/font-awesome.css";
@import "auxiliary/reset.css";
/* CSS Document */
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* ---------- GENERAL ---------- */
a {
  color: #004a98;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
h4 {
  font-size: 20px;
}
h3 {
  font-size: 30px;
}
h2 {
  font-size: 40px;
}
.container,
.bordered-container,
.page-container,
span,
.input,
.button,
.left-column .left-column-container,
.middle-column .middle-column-container,
.middle-column .feeds-record,
.photo,
.popup .popup-content,
.form input,
.form input[type="submit"],
.form input[type="text"],
.form input[type="password"],
.left-column .block,
.left-column .block:hover,
.left-column .block-hidden,
.left-column .notifications-container,
.left-column .notification,
.photo80px,
.photo40px,
.left-column .notifications,
.left-column .notifications:hover,
.left-column .notifications:hover,
.left-column .notifications:hover:hover {
  min-height: 100%;
  height: auto;
  border: none;
  border-radius: 3px;
  outline: none;
}
.bordered-container,
.left-column .left-column-container,
.middle-column .middle-column-container,
.middle-column .feeds-record,
.photo,
.popup .popup-content,
.left-column .block,
.left-column .block:hover,
.left-column .block-hidden,
.left-column .notifications-container,
.left-column .notification,
.photo80px,
.photo40px,
.left-column .notifications,
.left-column .notifications:hover,
.left-column .notifications:hover,
.left-column .notifications:hover:hover {
  border: solid;
  border-width: 1px;
}
.page-container {
  width: 900px;
  height: auto;
  min-height: 500px;
  margin: 10px auto;
  padding: 10px;
  background: radial-gradient(#4d4d4d, #161616);
  background-size: 100% 100%;
}
.left-column {
  float: left;
  height: auto;
  width: 300px;
  display: inline-block;
}
.left-column .left-column-container,
.left-column .block,
.left-column .block:hover,
.left-column .block-hidden,
.left-column .notifications-container,
.left-column .notification,
.left-column .notifications,
.left-column .notifications:hover,
.left-column .notifications:hover,
.left-column .notifications:hover:hover {
  text-align: center;
  height: 35px;
  background-color: #3d9cff;
  cursor: pointer;
  line-height: 30px;
}
.left-column .block,
.left-column .notifications,
.left-column .notifications:hover {
  transition: background 0.6s ease;
  line-height: 30px;
  overflow: hidden;
}
.left-column .block:hover,
.left-column .notifications:hover,
.left-column .notifications:hover:hover {
  background-color: #b8e7ff;
}
.left-column .block-hidden {
  height: auto;
  background-color: #f5f5f5;
  text-align: left;
}
.left-column .notifications {
  background-color: #f95252;
}
.left-column .notifications-container {
  border: none;
  height: auto;
  max-height: 150px;
  overflow: auto;
  text-align: left;
}
.left-column .notification {
  height: auto;
  background-color: #f5f5f5;
  padding: 2px;
  text-align: center;
}
.middle-column {
  float: right;
  width: 600px;
}
.middle-column .middle-column-container {
  padding: 5px;
  background-color: #f5f5f5;
  max-width: 573px;
  width: 573px;
  float: right;
  display: inline-block;
}
.middle-column .feeds-record {
  padding: 4px;
}
.photo,
.photo80px,
.photo40px {
  display: block;
  margin: 5px;
  background-color: #ffffff;
}
.photo80px {
  height: 80px;
  width: 80px;
}
.photo40px {
  height: 40px;
  width: 40px;
}
span {
  display: block;
  float: left;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 17.5px;
}
.input,
.form input,
.form input[type="text"],
.form input[type="password"] {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
}
.input[type="text"],
.input[type="password"],
.form input[type="text"],
.form input[type="password"],
.form input[type="text"][type="text"],
.form input[type="text"][type="password"],
.form input[type="password"][type="text"],
.form input[type="password"][type="password"] {
  background-color: #ffffff;
  color: #2c3034;
}
.button,
.form input[type="submit"] {
  background-color: #3474b5;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.6s ease;
}
.button:hover,
.form input[type="submit"]:hover {
  background-color: #3d9cff;
}
.popup {
  width: 100%;
  min-height: 100%;
  background-color: rgba(245, 245, 245, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
}
.popup .popup-content {
  margin: 40px auto 0px auto;
  width: 300px;
  height: 200px;
  padding: 5px;
  background: #f5f5f5;
  overflow: auto;
}
#error-message {
  color: red;
}
body {
  background-color: #f5f5f5;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  padding: 0px;
}
.page-container {
  text-align: center;
  height: 50px;
  width: 350px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -25px;
  margin-left: -175px;
  background: none;
}
.form {
  width: 350px;
  margin: auto;
  padding: 15px 15px 10px;
  background-color: rgba(111, 181, 255, 0.4);
  border-width: 1px;
  border-color: #6fb5ff;
  border-style: solid;
  border-radius: 8px;
}
.form hr {
  background-color: #3474b5;
  border: 0;
  height: 1px;
  margin: 15px 5px 10px;
}
.form input {
  width: 170px;
  padding: 2px 5px;
  float: right;
  margin-right: 25px;
}
.form input[type="submit"] {
  width: 300px;
  margin-left: 15px;
  height: 35px;
}
.form input[type="text"],
.form input[type="password"] {
  height: 30px;
  margin-left: 15px;
}
.form p {
  display: inline-block;
  margin: 7px 0px;
  height: 35px;
  line-height: 35px;
  padding: 0;
  text-align: right;
  width: 100%;
}
